.me-auto{
    flood-color: antiquewhite;
    font-style: normal; 
}
.test{
    background-color: black;
   
}
.nav-link {
    color: aliceblue;
}
.navbar-nav .nav-link.active
{
    color: aliceblue;
}